<head>
  <link rel="stylesheet" href="/stylesheets/detail.css">
</head>
<a href="/customer">Home</a>
<a href=""></a>
<div class="container">
  <div class="row">
    <div class="col">
      <img src="{{car.image}}" />
    </div>

    <div class="col">
      <h1>Product Information</h1>
      <h5 class="mt-5">Brand: {{car.brandName}}</h5>
      <h5>Model: {{car.modelName}}</h5>
      <h5>Price: ${{car.price}}</h5>
      <h5>Description: <br>{{car.description}}</h5>
      <form action="/customer/order" method="post">
      <input
          type="number"
          name="quantity"
          min="1"
          max="{{ car.quantity }}"
          value="1"
        />
        <input type="hidden" name="id" value="{{ car._id }}">
        <input type="hidden" name="price" value="{{ car.price }}">
        <input type="submit" class="btn btn-primary" value="Order" />
      </form>
    </div>
  </div>
</div>