<div class="container">
  <h1>Order Successfully!</h1>
  <img src="{{lego.image}}" width="300" height="400" />
  <h3>Product name: {{lego.modelName}}</h3>
  <h3>Product price: ${{lego.price}}</h3>
  <h3>Order quantity: {{quantity}}</h3>
  <h3>Total: ${{total}}</h3>
</div>